<div class="zz-order-detail-confirm-view zz-order-detail-adjustment-view" layout-fill layout="row" layout-align="center start">
  <div class="adjustment-view detail-center-view" layout-fill>
    <div class="action-view">
      <div class="brief" layout="row" layout-align="start center">
        <p class="title space">首单支付</p>
        <p class="rate space">50%</p>
        <p class="amount">750.00元</p>
      </div>

      <div class="action-list">
        <adjust-fee ng-repeat="item in [0,1]"></adjust-fee>
      </div>

      <div class="add-action">
        添加调帐
      </div>

      <div class="action-button"layout="row" layout-align="center center">
        审核通过
      </div>

    </div>

    <div class="action-view">
      <div class="brief" layout="row" layout-align="start center">
        <p class="title space">尾单支付</p>
        <p class="rate space">40%</p>
        <p class="amount">600.00元</p>
      </div>

      <div class="action-list">
        <adjust-fee ng-repeat="item in [0,1]"></adjust-fee>
      </div>

      <div class="add-action">
        添加调帐
      </div>

      <div class="action-button"layout="row" layout-align="center center">
        审核通过
      </div>

    </div>


    <div class="action-view">
      <div class="brief" layout="row" layout-align="start center">
        <p class="title space">回单支付</p>
        <p class="rate space">10%</p>
        <p class="amount">150.00元</p>
      </div>

      <div class="action-list">
        <adjust-fee ng-repeat="item in [0,1]"></adjust-fee>
      </div>

      <div class="add-action">
        添加调帐
      </div>

      <div class="action-button"layout="row" layout-align="center center">
        审核通过
      </div>

    </div>

    <div class="action-view">
      <div class="brief" layout="row" layout-align="start center">
        <p class="title space">押金支付</p>
        <p class="amount">200.00元</p>
      </div>

      <div class="action-list">
        <adjust-fee ng-repeat="item in [0,1]"></adjust-fee>
      </div>

      <div class="add-action">
        添加调帐
      </div>

      <div class="action-button"layout="row" layout-align="center center">
        审核通过
      </div>

    </div>


    <div class="summary-view">
      <div class="amount-summary" layout="row" layout-align="start center">
        <p class="text">总金额</p>
        <p class="value" flex>1500.00元</p>
      </div>
      <div class="amount-summary" layout="row" layout-align="start center">
        <p class="text">实际金额</p>
        <p class="value" flex>1520.00元</p>
      </div>
    </div>

  </div>
</div>
