.zz-order-follow-container {
  .order-tiaozhang {
    .tiaozhang-header-row {
      width: 100%;
      overflow: hidden;
      line-height: 40px;
      color: #cdcdcd;
      .tiaozhang-col {
        float: left;
        &.width10 {
          width: 10%;
        }
        &.width15 {
          width: 15%;
        }
        &.width20 {
          width: 20%;
        }
        &.width30 {
          width: 30%;
        }
        &.width50 {
          width: 50%;
        }
      }
    }
    .mask-container {
      .content{
        .evaluation{
          .tiaozhang-body-row {
            margin-bottom: 5px;
            margin-top: 5px;
            border-bottom: 1px solid #cdcdcd;
            width: 100%;
            overflow: hidden;
            .tiaozhang-col {
              float: left;
              &.width50 {
                width: 50%;
              }
              &.width10 {
                width: 10%;
              }
              &.width15 {
                width: 15%;
              }
              &.width20 {
                width: 20%;
              }
              &.width30 {
                width: 30%;
              }
              &.width40 {
                width: 40%;
              }
              &.width50 {
                width: 50%;
              }
              &.width100 {
                width: 100%;
              }
              .tiaozhang-btn {
                float: left;
                background-color: #4186c9;
                border: 0px;
                padding: 2px 5px;
                margin-bottom: 2px;
                margin-right: 15px;
                color: white;
              }

            }
          }

        }
      }
    }

  }
}