body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
body .wrap {
  background: url(../images/bg_operation.png) no-repeat left top;
  height: 680px;
  background-position: center 0;
  background-size: cover;
}
body .wrap .zz-home-header {
  position: static;
  background: none;
  box-shadow: none;
}
body .wrap .zz-home-header .navigation .logo .photo {
  background: url("../../home_page/images/logo.png") no-repeat center;
}
body .wrap .zz-home-header .navigation .user-operation .login {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background: none;
}
body .wrap .zz-home-header .navigation .user-operation .login:hover {
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  -moz-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}
body .wrap .zz-home-header .navigation .user-operation .signup {
  display: none;
}
body .wrap .zz-home-header .navigation .link .item {
  color: #fff;
}
body .wrap .forget-body {
  border-radius: 4px;
  margin: 100px auto;
  padding: 0 50px 50px 50px;
  width: 430px;
  background-color: #fff;
}
body .wrap .forget-body * {
  margin: 0;
  padding: 0;
}
body .wrap .forget-body .forget-container.hide,
body .wrap .forget-body .forget-result.hide {
  display: none;
}
body .wrap .forget-body .forget-container .title {
  padding: 30px 0 20px;
}
body .wrap .forget-body .forget-container .title .text {
  text-align: center;
  font-size: 24px;
  color: #000;
  font-weight: bolder;
}
body .wrap .forget-body .forget-container .title .underline {
  width: 30px;
  border: 1px solid #bdbdbd;
  margin: 10px auto;
}
body .wrap .forget-body .forget-container .form .username .tip {
  font-size: 12px;
  margin-bottom: 5px;
}
body .wrap .forget-body .forget-container .form .username .text {
  background-color: #fafafa;
  outline: none;
  box-shadow: none;
  width: 330px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid #efefef;
}
body .wrap .forget-body .forget-container .form .operation {
  margin-top: 40px;
  height: 40px;
}
body .wrap .forget-body .forget-container .form .operation .left {
  display: inline-block;
  width: 200px;
  height: 40px;
  float: left;
}
body .wrap .forget-body .forget-container .form .operation .left .error {
  font-size: 12px;
  color: #ee7361;
  visibility: visible;
  margin-bottom: 10px;
}
body .wrap .forget-body .forget-container .form .operation .left .error.zz-hidden {
  visibility: collapse;
}
body .wrap .forget-body .forget-container .form .operation .right {
  display: inline-block;
  float: right;
}
body .wrap .forget-body .forget-container .form .operation .right .button {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: none;
  border: 1px solid #efefef;
  color: #dddddd;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}
body .wrap .forget-body .forget-container .form .operation .right .button.able {
  background-color: #0078c6;
}
body .wrap .forget-body .forget-result {
  padding: 20px 0px 0px;
}
body .wrap .forget-body .forget-result .result-title {
  color: #333;
  font-size: 22px;
  text-align: left;
}
body .wrap .forget-body .forget-result .result-body .result-tip {
  color: #666666;
  text-align: left;
  font-size: 13px;
  margin-top: 15px;
}
body .wrap .forget-body .forget-result .result-body .resultUsername,
body .wrap .forget-body .forget-result .result-body .sendAgain {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}
body .wrap .forget-body .forget-result .result-body .resultUsername {
  display: block;
  font-size: 22px;
  color: #0078c6;
  text-align: center;
}
body .wrap .forget-body .forget-result .result-body .sendAgain {
  color: #ffffff;
  background-color: #0078c6;
}
@media screen and (max-width: 480px) {
  body .wrap .zz-home-header .navigation .user-operation .login {
    display: none;
  }
  body .wrap .zz-home-header .navigation .user-operation .menu {
    background: url("../../home_page/images/header/header_menu.png") no-repeat center;
  }
  body .wrap .forget-body {
    padding: 0 0px 40px;
    width: 85%;
  }
  body .wrap .forget-body .forget-container .form {
    width: 80%;
    margin: 0 auto;
  }
  body .wrap .forget-body .forget-container .form .username .text {
    width: 100%;
  }
  body .wrap .forget-body .forget-container .form .operation .left {
    width: auto;
  }
}
