body .wrap {
  background: url(../images/bg_operation.png) no-repeat left top;
  height: 680px;
  background-position: center 0;
  background-size: cover;
}
body .wrap .zz-home-header {
  position: static;
  background: none;
  box-shadow: none;
}
body .wrap .zz-home-header .navigation .logo .photo {
  background: url("../../home_page/images/logo.png") no-repeat center;
}
body .wrap .zz-home-header .navigation .user-operation .login {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background: none;
}
body .wrap .zz-home-header .navigation .user-operation .login:hover {
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  -moz-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}
body .wrap .zz-home-header .navigation .user-operation .signup {
  display: none;
}
body .wrap .zz-home-header .navigation .link .item {
  color: #fff;
}
body .wrap .signup-body {
  margin: 50px auto;
  padding: 0 50px 50px 50px;
  width: 430px;
  background-color: #fff;
  border-radius: 4px;
}
body .wrap .signup-body * {
  margin: 0;
  padding: 0;
}
body .wrap .signup-body .register-container.hide,
body .wrap .signup-body .result-container.hide {
  display: none;
}
body .wrap .signup-body .register-container .title {
  padding: 30px 0 10px;
}
body .wrap .signup-body .register-container .title .text {
  text-align: center;
  font-size: 24px;
  color: #000;
  font-weight: bolder;
}
body .wrap .signup-body .register-container .title .underline {
  width: 30px;
  border: 1px solid #bdbdbd;
  margin: 10px auto;
}
body .wrap .signup-body .register-container .form .username .tip,
body .wrap .signup-body .register-container .form .password .tip,
body .wrap .signup-body .register-container .form .password-sure .tip {
  font-size: 12px;
  margin-bottom: 5px;
}
body .wrap .signup-body .register-container .form .username .border,
body .wrap .signup-body .register-container .form .password .border,
body .wrap .signup-body .register-container .form .password-sure .border {
  width: 330px;
  height: 40px;
  line-height: 40px;
  background-color: #fafafa;
  border: 1px solid #efefef;
  border-radius: 4px;
  overflow: hidden;
}
body .wrap .signup-body .register-container .form .username .border .icon,
body .wrap .signup-body .register-container .form .password .border .icon,
body .wrap .signup-body .register-container .form .password-sure .border .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('../images/signin/user.png') no-repeat center center;
  float: left;
}
body .wrap .signup-body .register-container .form .username .border .text,
body .wrap .signup-body .register-container .form .password .border .text,
body .wrap .signup-body .register-container .form .password-sure .border .text {
  background-color: #fafafa;
  border: none;
  outline: none;
  box-shadow: none;
  width: 280px;
  float: left;
  height: 40px;
  line-height: 40px;
}
body .wrap .signup-body .register-container .form .password,
body .wrap .signup-body .register-container .form .password-sure {
  margin-top: 15px;
}
body .wrap .signup-body .register-container .form .password .tip a,
body .wrap .signup-body .register-container .form .password-sure .tip a {
  text-decoration: none;
  cursor: pointer;
  color: #0067bc;
}
body .wrap .signup-body .register-container .form .password .border .icon,
body .wrap .signup-body .register-container .form .password-sure .border .icon {
  background-image: url('../images/signin/password.png');
}
body .wrap .signup-body .register-container .form .operation {
  margin-top: 40px;
  height: 40px;
}
body .wrap .signup-body .register-container .form .operation .left {
  display: inline-block;
  width: 200px;
  height: 40px;
  float: left;
}
body .wrap .signup-body .register-container .form .operation .left .error {
  font-size: 12px;
  color: #ee7361;
  visibility: visible;
  margin-bottom: 10px;
}
body .wrap .signup-body .register-container .form .operation .left .error.zz-hidden {
  visibility: collapse;
}
body .wrap .signup-body .register-container .form .operation .left .register {
  font-size: 12px;
  color: #979797;
}
body .wrap .signup-body .register-container .form .operation .left .register a {
  text-decoration: none;
  cursor: pointer;
  color: #0078c6;
}
body .wrap .signup-body .register-container .form .operation .right {
  display: inline-block;
  float: right;
  width: 80px;
  height: 40px;
}
body .wrap .signup-body .register-container .form .operation .right .button {
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #efefef;
  color: #dddddd;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}
body .wrap .signup-body .register-container .form .operation .right .button.able {
  background-color: #0078c6;
}
body .wrap .signup-body .result-container {
  padding: 20px 0px 0px;
}
body .wrap .signup-body .result-container .result-title {
  color: #333;
  font-size: 22px;
  text-align: left;
}
body .wrap .signup-body .result-container .result-body .result-tip {
  color: #666666;
  text-align: left;
  font-size: 13px;
  margin-top: 15px;
}
body .wrap .signup-body .result-container .result-body .resultUsername,
body .wrap .signup-body .result-container .result-body .sendAgain {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}
body .wrap .signup-body .result-container .result-body .resultUsername {
  display: block;
  font-size: 22px;
  color: #0078c6;
  text-align: center;
}
body .wrap .signup-body .result-container .result-body .sendAgain {
  color: #ffffff;
  background-color: #0078c6;
}
@media screen and (max-width: 480px) {
  body .wrap .zz-home-header .navigation .user-operation .login {
    display: none;
  }
  body .wrap .zz-home-header .navigation .user-operation .menu {
    background: url("../../home_page/images/header/header_menu.png") no-repeat center;
  }
  body .wrap .signup-body {
    padding: 0 0px 40px;
    width: 85%;
  }
  body .wrap .signup-body .register-container .form {
    width: 80%;
    margin: 0 auto;
  }
  body .wrap .signup-body .register-container .form .username .border,
  body .wrap .signup-body .register-container .form .password .border,
  body .wrap .signup-body .register-container .form .password-sure .border {
    width: 100%;
    padding-left: 10px;
  }
  body .wrap .signup-body .register-container .form .username .border .text,
  body .wrap .signup-body .register-container .form .password .border .text,
  body .wrap .signup-body .register-container .form .password-sure .border .text {
    width: 85%;
  }
  body .wrap .signup-body .register-container .form .username .border .icon,
  body .wrap .signup-body .register-container .form .password .border .icon,
  body .wrap .signup-body .register-container .form .password-sure .border .icon {
    display: none;
  }
  body .wrap .signup-body .register-container .form .operation .left {
    width: auto;
  }
}
@media (max-width: 767px) {
  body .wrap .zz-home-header .navigation .user-operation .login {
    display: none;
  }
  body .wrap .zz-home-header .navigation .user-operation .menu {
    background: url("../../home_page/images/header/header_menu.png") no-repeat center;
  }
  body .wrap .signup-body {
    padding: 0 0px 40px;
    width: 85%;
  }
  body .wrap .signup-body .register-container .form {
    width: 80%;
    margin: 0 auto;
  }
  body .wrap .signup-body .register-container .form .username .border,
  body .wrap .signup-body .register-container .form .password .border,
  body .wrap .signup-body .register-container .form .password-sure .border {
    width: 100%;
  }
  body .wrap .signup-body .register-container .form .username .border .text,
  body .wrap .signup-body .register-container .form .password .border .text,
  body .wrap .signup-body .register-container .form .password-sure .border .text {
    width: 85%;
  }
  body .wrap .signup-body .register-container .form .operation .left {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body .wrap .zz-home-header .navigation .user-operation .login {
    display: none;
  }
  body .wrap .zz-home-header .navigation .user-operation .menu {
    background: url("../../home_page/images/header/header_menu.png") no-repeat center;
  }
  body .wrap .signup-body {
    padding: 0 0px 40px;
  }
  body .wrap .signup-body .register-container .form {
    width: 80%;
    margin: 0 auto;
  }
  body .wrap .signup-body .register-container .form .username .border,
  body .wrap .signup-body .register-container .form .password .border,
  body .wrap .signup-body .register-container .form .password-sure .border {
    width: 100%;
  }
  body .wrap .signup-body .register-container .form .username .border .text,
  body .wrap .signup-body .register-container .form .password .border .text,
  body .wrap .signup-body .register-container .form .password-sure .border .text {
    width: 85%;
  }
  body .wrap .signup-body .register-container .form .operation .left {
    width: auto;
  }
}
