<div class="zz-order-operation-container">
  <div class="top-header">
    <div class="center-area">
      <div class="title">
        <p class="text">运单操作</p>
      </div>
      <div class="label">
        <p class="assign" ng-class="{'current': isCurrentLabel('order_operation_assign')}"
           ng-click="changeLabel('order_operation.assign')">待分配 ({{orderCount.assign}})</p>

        <p class="receiver" ng-class="{'current': isCurrentLabel('order_operation_follow_onway') }"
           ng-click="changeLabel('order_operation.follow_onway')">在途 ({{orderCount.onway}})</p>

        <p class="sender" ng-class="{'current': isCurrentLabel('order_operation_follow_completed')}"
           ng-click="changeLabel('order_operation.follow_completed')">已完成</p>
      </div>
    </div>
  </div>

  <div class="operation-body-info">
    <div ui-view></div>
  </div>

</div>
