<div class="zz-order-detail-info-view" layout-fill layout="row" layout-align="center start">
  <div class="detail-info-view detail-center-view" layout-fill>
    <div class="first-layer" ng-repeat="firstLayer in pageConfig.detailInfos">
      <div class="second-layer" layout="row" layout-align="start center"
           ng-repeat="secondLayer in firstLayer">
        <p class="label-key">{{secondLayer.text}}</p>
        <p class="label-value" ng-class="{empty: !secondLayer.value}" flex>{{secondLayer.value||'无'}}</p>
      </div>
    </div>
  </div>
</div>
