<div class="zz-order-detail-adjustment-view" layout-fill layout="row" layout-align="center start">
  <div class="adjustment-view detail-center-view" layout-fill>
    <div class="action-view" ng-repeat="paymentInfo in pageConfig.paymentList">
      <div class="brief" layout="row" layout-align="start center">
        <p class="title space">{{paymentInfo.text}}</p>
        <p class="rate space" ng-hide="paymentInfo.rate===null">{{paymentInfo.rate}}%</p>
        <p class="amount space">{{paymentInfo.amount|number:2}}元</p>
        <p class="">合计: {{paymentInfo.actual_amount|number:2}}元</p>
      </div>

      <div class="action-list">
        <div class="action-item" layout="row" layout-align="start center" ng-repeat="item in paymentInfo.tiaozhangs">
          <adjust-fee config="item" flex></adjust-fee>
          <div class="remove" layout="row" layout-align="center center"
               ng-click="pageConfig.removeTiaoZhang(paymentInfo, $index)"
               ng-show="paymentInfo.can_tiaozhang">X
          </div>
        </div>
      </div>

      <div class="add-action" ng-click="pageConfig.addTiaoZhang(paymentInfo)"
           ng-show="paymentInfo.can_tiaozhang">
        添加调帐
      </div>

      <div class="action-button" layout="row" layout-align="center center"
           ng-class="{disabled: paymentInfo.has_tiaozhang}"
           ng-show="paymentInfo.can_tiaozhang||paymentInfo.has_tiaozhang"
           ng-click="pageConfig.reviewTiaoZhang(paymentInfo)">
        {{paymentInfo.has_tiaozhang ? '已通过':'审核通过'}}
      </div>

    </div>

    <div class="summary-view">
      <div class="amount-summary" layout="row" layout-align="start center">
        <p class="text">总金额</p>
        <p class="value" flex>{{pageConfig.amount|number:2}}元</p>
      </div>
      <div class="amount-summary" layout="row" layout-align="start center">
        <p class="text">实际金额</p>
        <p class="value" flex>{{pageConfig.actual_amount|number:2}}元</p>
      </div>
    </div>

  </div>
</div>
