<!DOCTYPE html>
<html>
<head lang="en">
	<link href="favicon.ico" rel="icon"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
	<meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="icon" type="image/x-icon" href="../../home_page/images/favicon.ico">

	<script type="text/javascript" src="../../libraries/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../libraries/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../zz_supports/js/global.client.support.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/import.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/about.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/sliding_menu.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/header.client.controller.js"></script>


	<link rel="stylesheet" type="text/css" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/header.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/footer.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/global.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/about.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/sliding_menu.client.style.css">

	<title>柱柱签收－关于柱柱</title>
</head>
<body>
<div class="zz-home-header"></div>

<div class="body-content">

	<div class="description">
		<div class="title">
			<img src="../../home_page/images/about/icon_about.png">

			<p class="title-container">关于柱柱</p>

			<p class="text">享受零成本投入的超高服务回报，即刻开启您的全新物流运输管理模式！</p>
		</div>

		<div class="content">

			<div class="level level-one">
				<p class="content-title">关于柱柱网络</p>

				<div class="text">
					<p>几万亿的卡车运输市场和移动互联网结合会产生什么样的化学反应？</p>

					<p>柱柱网络提供全新一代的SAAS物流管理平台，把顺丰和京东的物流体验带给企业物流。</p>

					<p>我们的服务对象是中国的3000万卡车司机，中国物流行业相当于GDP的18%，这是一个10万亿的行业，没想到吧！</p>

					<p>卡车司机是天然的移动互联网用户，目前处于互联网的初期</p>
				</div>
			</div>


			<div class="level level-two">
				<p class="content-title">靠谱的全职创业团队，包括一</p>

				<div class="text">
					<p class="p-inline">一位物流行业老兵，年营收数亿的物流公司创始人，懂行业。</p><br>

					<p class="p-inline">一位移动互联网行业7年的连续创业者，B2B云计算，B2C众包应用为众多五百强企业服务，懂产品。</p><br>

					<p class="p-inline">一位全球三大战略咨询公司之一，贝恩咨询董事，专攻物流行业，放弃数百万年薪，就是看好这个机会，懂战略，懂运营。</p><br>
				</div>
			</div>

		</div>

	</div>

</div>

<div class="zz-home-footer"></div>

</body>
</html>