<!DOCTYPE html>
<html>
<head lang="en">
	<link href="favicon.ico" rel="icon"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
	<meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="icon" type="image/x-icon" href="../../home_page/images/favicon.ico">

	<script src="../../libraries/jquery/dist/jquery.min.js"></script>
	<script src="../../libraries/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/sliding_menu.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/header.client.controller.js"></script>
	<script type="text/javascript" src="../../zz_supports/js/global.client.support.js"></script>

	<script src="../../home_page/controllers/import.client.controller.js"></script>
	<script src="../../home_page/controllers/contact.client.controller.js"></script>

	<link rel="stylesheet" type="text/css" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/header.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/footer.client.style.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/global.client.style.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/contact.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/sliding_menu.client.style.css">


	<title>柱柱签收－联系我们</title>
</head>
<body>
<div class="zz-home-header"></div>

<div class="body-content">
	<div class="description">
		<div class="title">
			<img src="../../home_page/images/contact/icon_contact.png">

			<p class="title-container">联系我们</p>

			<p class="text">24小时免费客服热线：400-886-9256</p>
		</div>

		<div class="content">

			<div class="level level-one">
				<p class="content-title">客服帮助</p>
				<div class="text">
					<p>7x24小时客服，及时为您服务，解决您的意见反馈，我们承诺尽快在24小时内受理您的问题。</p>
					<div class="point"></div><p class="p-inline">客服热线：400-886-9256</p><br>
					<div class="point"></div><p class="p-inline">电子邮箱：andy_li@zhuzhu56.com</p><br>
					<div class="point"></div><p class="p-inline">公司地址：上海市普陀区中江路388弄2楼1205室</p><br>
					<div class="point"></div><p class="p-inline">微信公众号：“柱柱签收网”，柱子君期待您的反馈！</p>
				</div>
			</div>


			<!--暂时隐藏，之后会更新联系人内容-->
			<div class="level level-two" style="visibility: hidden">

					<div class="business">
						<p class="contact-title">商务洽谈</p>
						<p class="contact-container">联系人：张先生</p>
						<p class="contact-container">E-mail：pitt@zhuzhu56.com</p>
					</div>

					<div class="recruiting">
						<p class="contact-title">招聘洽谈</p>
						<p class="contact-container">联系人：孙小姐</p>
						<p class="contact-container">E-mail：joanna@zhuzhu56.com</p>
					</div>

					<div class="interview">
						<p class="contact-title">媒体采访</p>
						<p class="contact-container">联系人：尚先生</p>
						<p class="contact-container">E-mail：jason@zhuzhu56.com</p>
					</div>

				</div>
			</div>

		</div>



	</div>
	<div class="map"></div>
</div>

<div class="zz-home-footer"></div>

</body>
</html>