<!DOCTYPE html>
<html>
<head lang="en">
  <title>柱柱签收－APP下载</title>

  <link href="favicon.ico" rel="icon"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
  <meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="icon" type="image/x-icon" href="../../home_page/images/favicon.ico">

  <script src="../../libraries/jquery/dist/jquery.min.js"></script>
  <script src="../../libraries/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../zz_supports/js/global.client.support.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/sliding_menu.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/header.client.controller.js"></script>


	<script type="text/javascript" src="../../home_page/controllers/import.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/dialog.client.controller.js"></script>
  <script src="../../home_page/controllers/download.client.controller.js"></script>

  <link rel="stylesheet" type="text/css" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/header.client.style.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/global.client.style.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/footer.client.style.css">
  <link rel="stylesheet" type="text/css" href="../../home_page/css/download.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/dialog.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/sliding_menu.client.style.css">


</head>
<body>
<div class="zz-home-header"></div>

<div class="body-content">

  <div class="description">
    <div class="title">
			<img src="../../home_page/images/download/icon_download.png">

			<p class="title-container">APP下载</p>

      <div class="download-button">
        <a class="download-ios" href="<%= apple_app_download %>">IOS下载</a>
        <a class="download-android" href="/zzqs2/toDownloadApp">Android下载</a>
      </div>
    </div>


    <div class="content">

      <div class="level level-one">
        <p class="content-title">扫码下载</p>

        <div class="text">
          <img class="qr-code" src="/zzqs2/appDownloadBarcode">
        </div>
      </div>


      <div class="level level-two">
        <p class="content-title">其他下载方式：</p>

        <div class="text">
          <p class="p-inline">打开您手机的应用市场，如小米市场，360手机助手，豌豆荚，应用宝，91手机助手等，搜索“柱柱签收“进行下载；</p><br>

          <p class="p-inline">如果是物流公司邀请，司机会收到短信，点击短信内的网址即可下载；</p><br>

          <p class="p-inline">搜索”柱柱签收网“微信号并关注我们，可在页面内获取下载链接</p>
        </div>
      </div>


    </div>

  </div>

</div>


<div class="zz-home-footer"></div>

</body>
</html>