<div class="footer">
  <div class="center-area">
    <div class="footer-left">

      <div class="help">
        <p class="title">帮助中心</p>
        <a class="content" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAxMTA4NjQ5Ng==&mid=400111983&idx=1&sn=dafd0d7e74a565d84b119113b0a5dc9f#rd">常见问题</a>
        <br>
        <a class="content" href="/#video-entrance">入门指南</a>
        <br>
        <a class="content" href="/#video-entrance">APP使用说明</a>
        <br>
        <a class="content" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAxMTA4NjQ5Ng==&mid=400112307&idx=1&sn=abe1617462ac7fb05c405f057b87ddb9#rd">用户使用协议</a>
      </div>

      <div class="map">
        <p class="title">网站地图</p>
        <a class="content" href="/">首页</a>
        <br>
        <a class="content" href="/home/about">关于柱柱</a>
        <br>
        <a class="content" href="/home/news">柱柱资讯</a>
        <br>
        <a class="content" href="/home/download">下载APP</a>
      </div>

      <div class="contact">
        <p class="title">联系我们</p>
        <a class="content">客服热线：400-886-9256</a>
        <br>
        <a class="content">客服QQ号：1138763544</a>
        <br>
        <a class="content">微信公众号：柱柱签收网</a>
        <br>
        <a class="content">地址：上海市普陀区中江路388弄2楼1205室</a>
      </div>

    </div>

    <p class="footer-right">扫码关注柱柱公众号</p>

    <p class="cut-line"></p>

    <p class="remark">网站备案／许可证号：沪ICP备09012088号 &nbsp;&nbsp;&nbsp; 版权所有：邦达隆飞物流</p>

  </div>

</div>