<div class="navigation">
	<div class="logo">
		<a href="/"><p class="photo"></p></a>

	</div>

	<div class="link">

		<a class="item index" href="/">首页</a>
		<a class="item about" href="/home/about">关于柱柱</a>
		<a class="item news" href="/home/news">柱柱资讯</a>
		<a class="item tutorial" href="/home/tutorial">使用教程</a>
		<a class="item contact" href="/home/contact">联系我们</a>
		<a class="item download" href="/home/download">APP下载</a>

	</div>

	<div class="user-operation">
		<a class="signup" href="/signup">用户注册</a>
		<a class="login" href="/signin">用户登录</a>
		<div id="menu-button" class="menu"></div>
	</div>
</div>