<!DOCTYPE html>
<html>
<head lang="en">
	<title>柱柱签收－移动互联网时代的物流，运输全程可视，让物流更简单</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
	<meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="icon" type="image/x-icon" href="../../home_page/images/favicon.ico">

	<script type="text/javascript" src="../../libraries/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../zz_supports/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../libraries/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://7xjfim.com2.z0.glb.qiniucdn.com/Iva.js"></script>
	<script type="text/javascript" src="../../zz_supports/js/global.client.support.js"></script>

	<script type="text/javascript" src="../../home_page/controllers/import.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/dialog.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/sliding_menu.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/header.client.controller.js"></script>
	<script type="text/javascript" src="../../home_page/controllers/index.client.controller.js"></script>


	<link rel="stylesheet" type="text/css" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/global.client.style.css">

	<link rel="stylesheet" type="text/css" href="../../home_page/css/header.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/footer.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/dialog.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/sliding_menu.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/index.client.style.css">

</head>
<body>
<div class="wrap">
	<div class="wrap-background">
		<p class="p-background"></p>
	</div>

	<div class="operation">

		<div id="header" class="zz-home-header"></div>

		<p class="operation-title-one">一款移动互联网时代的</p>

		<p class="operation-title-two">开放式物流管理平台</p>

		<form class="operation-signin">
			<div class="signin-title"><span>即刻登录,享受零成本投入的超高服务回报,开启您的全新物流运输管理模式:</span></div>
			<div class="signin-content row">
				<div class="col-md-5 col-xs-12 col-sm-12">
					<input class=" username" name="username" type="text" placeholder="输入邮箱" autocomplete="off"/>
				</div>
				<div class="col-md-5 col-xs-12 col-sm-12">
					<input class="password" name="password" type="password" placeholder="输入密码" autocomplete="off"/>
				</div>
				<div class="col-md-2 col-xs-12 col-sm-12">
					<input class="signin" type="submit" value="登录"/>
				</div>
			</div>
			<span class="error zz-hidden"></span>
		</form>

	</div>

	<div class="wrap-container">


		<div class="video-container">
			<a name="video-entrance" id="video-entrance" style="height: 0; width: 0"></a><!-- 锚点-->
			<p class="video-container-title">什么是柱柱签收</p>

			<p class="video-container-contents">柱柱签收网是新一代的物流管理云平台，基于网页以及司机手机的简单操作，对货物单据，
				运输轨迹，收发货时间，货物条码信息等实现实时、真实等管理，同时可以方便地将物流信息分享给上下游客户。</p>

			<div class="download-ppt">

				<a class="chinese-ppt" href="/zzqs2/resources/product_introduction_zh.pdf">柱柱签收介绍<span
						class="icon"></span></a>

				<a class="english-ppt" href="/zzqs2/resources/product_example_zh.pdf">柱柱签收案例<span
						class="icon"></span></a>
			</div>

			<div class="device"><img src="../../home_page/images/index/device.png" style="width: 100%;max-width: 1160px">
			</div>
		</div>

		<div class="description">

			<p class="description-title">为什么选择柱柱</p>

			<div class="level">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="location">
							<p class="level-title">节点追踪 全程定位</p>

							<p class="level-container">柱柱签收通过APP要求司机在指定时间、指定地点按指定步骤拍摄货物信息，生成时间轴方便管理者查看，不允许从相册上传图片，保证纪录的真实性。</p>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="message">
							<p class="level-title">微信推送 异常报警</p>

							<p class="level-container">柱柱签收微信分享和图片语音实时传输技术把信息的顺序传递变成了同时传递。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="level">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="electronic">
							<p class="level-title">电子围栏 安全交付</p>

							<p class="level-container">柱柱签收利用电子围栏技术，如果不在指定地点交货，系统会立即报警。</p>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="plate">
							<p class="level-title">车牌对比 提送一致</p>

							<p class="level-container">柱柱签收采用图片识别技术，自动识别提、送货车牌号，与数据库资料进行对比，确保货运车辆的一致性。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="level">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="delivery">
							<p class="level-title">扫码交货 无单签收</p>

							<p class="level-container">柱柱签收支持按货物明细签收，通过扫码交接，帮您轻松实现电子签收，甚至能通过支付平台帮你代收货款。</p>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="insurance">
							<p class="level-title">在线保险 保障全程</p>

							<p class="level-container">我们与多家保险公司合作基于真实的业务背景，为每票货物提供保险服务，保障货物安全。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="level">
				<div class="row">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="credit">
							<p class="level-title">信用评估 运力推荐</p>

							<p class="level-container">柱柱为甲方输出客观的评估报告，包括服务评价、运输公司的KPI、保险状况、银行授信等数据，向甲方企业推荐运力。</p>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="financial">
							<p class="level-title">网上金融 轻松融资</p>

							<p class="level-container">基于真实数据和良好的发展前景，我们与平安银行合作，推出“回单贷”业务，依据柱柱签收的送达照片，触发贷款业务。</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="partner">

			<p class="partner-title">部分合作客户</p>

			<p class="partner-container">目前柱柱签收网注册用户已达数万人，为数百家公司提供物流运输可视化服务</p>

			<div class="company">
				<div class="row">
					<div class="col-md-2 col-xs-6 col-sm-3">
						<!--<div class="industry">快消行业：</div>-->
						<img src="home_page/images/index/industry_kuaixiao.png" title="快消行业" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_kele.png" title="郑州太古可口可乐" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_jiahua.png" title="上海家化" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_bufandi.png" title="不凡帝范梅勒糖果" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_haizhibao.png" title="孩之宝" style="margin-top: 20px">
					</div>
				</div>
			</div>

			<div class="company">
				<div class="row">
					<div class="col-md-2 col-xs-6 col-sm-3">
						<!--<div class="industry">危化行业：</div>-->
						<img src="home_page/images/index/industry_weihua.png" title="危化行业" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_zhonghua.png" title="中国中化集团" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_yehuakongqi.png" title="液化空气集团" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_zhaohegaofenzi.png" title="昭和高分子集团" style="margin-top: 20px">
					</div>
				</div>
			</div>

			<div class="company">
				<div class="row">
					<div class="col-md-2 col-xs-6 col-sm-3">
						<!--<div class="industry">工业行业：</div>-->
						<img src="home_page/images/index/industry_gongye.png" title="工业行业" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_minsheng.png" title="长安民生物流" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_sanling.png" title="三菱" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_lilezhongguo.png" title="利乐中国" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_fushishile.png" title="富士施乐" style="margin-top: 20px">
					</div>
				</div>
			</div>

			<div class="company">
				<div class="row">
					<div class="col-md-2 col-xs-6 col-sm-3">
						<!--<div class="industry">O2O行业：</div>-->
						<img src="home_page/images/index/industry_o2o.png" title="o2o行业" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_houchuguanjia.png" title="后厨管家" style="margin-top: 20px">
					</div>
					<div class="col-md-2 col-xs-6 col-sm-3">
						<img src="home_page/images/index/company_youyou.png" title="悠悠果业" style="margin-top: 20px">
					</div>
				</div>
			</div>

		</div>

		<div class="app-download">

			<p class="app-download-title">
				APP下载</p>

			<div class="download-button">
				<a class="download-ios" href="<%= apple_app_download %>">IOS下载</a>

				<a class="download-android" href="/zzqs2/toDownloadApp">Android下载</a>
			</div>

			<img class="qr-code" src="/zzqs2/appDownloadBarcode">

			<form class="download-register" autocomplete="off">
				<div class="row">
					<div class="col-md-5 col-xs-12 col-sm-12">
						<input class="username" name="username" type="text" placeholder="输入邮箱" autocomplete="off">
					</div>
					<div class="col-md-5 col-xs-12 col-sm-12">
						<input class="password" name="password" type="password" placeholder="输入密码" autocomplete="off">
					</div>
					<div class="col-md-2 col-xs-12 col-sm-12">
						<p class="register">注册</p>
					</div>
				</div>
				<p class="error-tip zz-hidden"></p>
			</form>
		</div>
		<div class="zz-home-footer"></div>
	</div>
</div>
</body>

</html>