<!DOCTYPE html>
<html>
<head lang="en">
	<link href="favicon.ico" rel="icon"/>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
	<meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="icon" type="image/x-icon" href="../../home_page/images/favicon.ico">

	<script src="../../libraries/jquery/dist/jquery.min.js"></script>
	<script src="../../libraries/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="../../zz_supports/js/global.client.support.js"></script>
	<script src="../../home_page/controllers/import.client.controller.js"></script>
	<script src="../../home_page/controllers/reset_password.client.controller.js"></script>

	<link rel="stylesheet" type="text/css" href="../../libraries/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/global.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/header.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/footer.client.style.css">
	<link rel="stylesheet" type="text/css" href="../../home_page/css/reset_password.client.style.css">

	<title>柱柱签收－重置密码</title>

</head>
<body>
<div class="wrap">
	<div class="zz-home-header"></div>
	<div class="signup-body">
		<div class="register-container">
			<div class="title">
				<p class="text">重置密码</p>

				<p class="underline"></p>
			</div>
			<form class="form">
				<div class="username">
					<p class="tip">账号</p>

					<div class="border">
						<span class="icon"></span>
						<input class="text" type="text" placeholder="输入邮箱">
					</div>
				</div>
				<div class="password">
					<p class="tip">密码</p>

					<div class="border">
						<span class="icon"></span>
						<input class="text" type="password" placeholder="输入密码">
					</div>
				</div>
				<div class="password-sure">
					<p class="tip">确认密码</p>

					<div class="border">
						<span class="icon"></span>
						<input class="text" type="password" placeholder="输入密码">
					</div>
				</div>
				<div class="operation">
					<div class="left">
						<p class="error zz-hidden">账户不存在</p>
					</div>
          <div class="right">
            <input type="submit" class="button" value="确认">
          </div>
				</div>
			</form>
		</div>
	</div>

</div>

<div class="zz-home-footer"></div>
</body>
</html>