<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
  <meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
  <meta charset="utf-8">
  <meta http-equiv="pragram" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0, user-scalable=no">
  <script id="error3" type="text/html" data-value='<%=  openid %>'></script>
  <script id="error4" type="text/html" data-value='<%=  access_token %>'></script>
  <script src="/libraries/jquery/dist/jquery.min.js"></script>
  <script src="/wechat/bidder/js/bind.client.controller.js"></script>
  <link rel="stylesheet" href="/libraries/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/wechat/bidder/css/bind.client.style.css">
  <title>绑定柱柱签收网账户</title>
</head>
<body>
<div class="sm-auth-header">
  <img class="title" src="/wechat/bidder/images/bind_header_log.png">
</div>
<div class="sm-auth-body">
  <div class="tip">请绑定您的帐号</div>
  <input class="input username" placeholder="请输入您的手机号"/>
  <div class="input-container">
    <input class="input verify" placeholder="请输入验证码"/>
  </div>
  <div ontouchstart="" class="submit">立即绑定</div>
</div>
</body>
</html>