<!doctype html>
<html lang="zh-cn">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">
  <script src="/libraries/jquery/dist/jquery.min.js"></script>

  <script src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/libraries/bootstrap/dist/css/bootstrap.css">

  <script src="/zz_libraries/dropload/dropload.js"></script>
  <link rel="stylesheet" href="/zz_libraries/dropload/dropload.css">

  <link rel="stylesheet" href="/zz_libraries/animate/animate.min.css">

  <script src="/global/global.client.support.js"></script>

  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


  <script type="text/javascript" src="/wechat/bidder/js/index.client.controller.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/css/index.client.style.css">

  <script type="text/javascript" src="/wechat/bidder/dist/support.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/dist/support.css">
  <script type="text/javascript" src="/wechat/bidder/dist/business.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/dist/business.css">


  <!--<script type="text/javascript" src="/wechat/bidder/js/tabs.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/tabs.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/order_list.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/order_list.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/tender_list.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/tender_list.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/order_detail.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/order_detail.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/tender_detail.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/tender_detail.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/timeline.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/timeline.client.style.css">-->


  <!--<script type="text/javascript" src="/wechat/bidder/js/alert.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/alert.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/loading.client.controller.js"></script>-->
  <!--<link rel="stylesheet" href="/wechat/bidder/css/loading.client.style.css">-->

  <!--<script type="text/javascript" src="/wechat/bidder/js/common.client.controller.js"></script>-->


  <script id="error3" type="text/html" data-value='<%=  bidder %>'></script>
  <title>柱柱签收网</title>
</head>
<body>
<div class="zz-tender-view">
  <div class="wechat-header">
    <div class="title">
      <p class="text">投标</p>

      <p class="menu">●●●</p>
    </div>
    <div class="tabs">
    </div>
  </div>
  <div class="wechat-body">
  </div>
</div>
<div class="zz-order-view">
  <div class="wechat-header">
    <div class="title">
      <p class="text">运单</p>

      <p class="menu">●●●</p>
    </div>
    <div class="tabs">
    </div>
  </div>
  <div class="wechat-body">
  </div>
</div>
<div class="zz-deposit-view">
  <div class="deposit-body">
  </div>
</div>

<div class="zz-footer">
  <div class="tender item">
    <p class="text">投标</p>
  </div>
  <div class="order item">
    <p class="text">运单</p>
  </div>
  <div class="deposit item">
    <p class="text">保证金</p>
  </div>
</div>

<div class="wechat-footer">
  <div class="unbind">
    <p class="text">解除绑定</p>
  </div>
</div>

</body>
</html>
