<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="柱柱签收，物流管理系统，车队系统，第三方物流系统，物流签收， 签收单, 回单，车队管理，车辆管理，TMS，运输管理系统，OTMS，签收"/>
  <meta content="柱柱签收是国际领先的移动互联网时代的物流，向货主、物流公司、专线公司、车队、司机、收货人
提供运输全程可视化的物流管理系统，解决传统物流时代回单、签收、物流管理难等问题，
一封Emai,一个APP，极速链接各类合作伙伴和司机。" name="description"/>
  <meta charset="utf-8">
  <meta http-equiv="pragram" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0, user-scalable=no">
  <script id="error3" type="text/html" data-value='<%=  order %>'></script>
  <script src="http://api.map.baidu.com/api?v=2.0&ak=C31306a16db1e14257abded320d9d2f5"></script>
  <script src="/libraries/jquery/dist/jquery.min.js"></script>
  <script src="/wechat/bidder/js/order_map.client.controller.js"></script>
  <script src="/wechat/bidder/js/order_map_page.client.controller.js"></script>

  <link rel="stylesheet" href="/libraries/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/wechat/bidder/css/order_map.client.style.css">
  <link rel="stylesheet" href="/wechat/bidder/css/header.client.style.css">

  <title></title>
</head>
<body>
</body>
</html>