<!doctype html>
<html lang="zh-cn">
<head>
  <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">
  <script src="/libraries/jquery/dist/jquery.min.js"></script>

  <script src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/libraries/bootstrap/dist/css/bootstrap.css">

  <script src="/zz_libraries/dropload/dropload.js"></script>
  <link rel="stylesheet" href="/zz_libraries/dropload/dropload.css">

  <link rel="stylesheet" href="/zz_libraries/animate/animate.min.css">

  <script src="/global/global.client.support.js"></script>

  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <script type="text/javascript" src="/wechat/bidder/js/single_tender_page.client.controller.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/css/index.client.style.css">

  <script type="text/javascript" src="/wechat/bidder/js/tender_detail.client.controller.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/css/tender_detail.client.style.css">

  <script type="text/javascript" src="/wechat/bidder/js/alert.client.controller.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/css/alert.client.style.css">

  <script type="text/javascript" src="/wechat/bidder/js/loading.client.controller.js"></script>
  <link rel="stylesheet" href="/wechat/bidder/css/loading.client.style.css">

  <script type="text/javascript" src="/wechat/bidder/js/common.client.controller.js"></script>

  <script id="error3" type="text/html" data-value='<%=  bidRecord %>'></script>
</head>
<body>

</body>
</html>
