body {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑,华文细黑";
}
section {
  margin: 0px;
}
section .icon {
  margin: 10px;
}
span,
strong {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.wrapper {
  display: block;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
header {
  min-height: 76px;
  border-bottom: 2px solid #c8f6f4;
  background: transparent url('../../img/global/write-transparent-bg.png') top left repeat;
}
header .left {
  display: inline-block;
  float: left;
  overflow: hidden;
}
header .left .logo {
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 76px;
}
header .left .logo img {
  display: block;
  margin-top: 24.5px;
  height: 27px;
}
header .right {
  display: inline-block;
  float: right;
  overflow: hidden;
}
header .right a {
  margin-left: 10px;
  cursor: pointer;
  line-height: 76px;
  color: #45d7d7;
}
header .right a:hover {
  color: #2fc6c6;
}
.header {
  min-height: 76px;
  border-bottom: 2px solid #c8f6f4;
  background: transparent url('../../img/global/write-transparent-bg.png') top left repeat;
}
.header .left {
  display: inline-block;
  float: left;
  overflow: hidden;
}
.header .left .logo {
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 76px;
}
.header .left .logo img {
  display: block;
  margin-top: 24.5px;
  height: 27px;
}
.header .right {
  display: inline-block;
  float: right;
  overflow: hidden;
}
.header .right a {
  margin-left: 10px;
  cursor: pointer;
  line-height: 76px;
  color: #45d7d7;
}
.header .right a:hover {
  color: #2fc6c6;
}
footer {
  margin: 0px;
  min-height: 40px;
  background: transparent url('../../img/global/transparent-bg.png') top left repeat;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
footer span {
  margin-right: 10px;
  color: #45d7d7;
}
.footer {
  margin: 0px;
  min-height: 40px;
  background: transparent url('../../img/global/transparent-bg.png') top left repeat;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
.footer span {
  margin-right: 10px;
  color: #45d7d7;
}
body {
  background: #f2fffd;
  background: -moz-linear-gradient(top, #d8f9f9, #f2fffd);
  /*Mozilla*/
  background: -webkit-linear-gradient(top, #d8f9f9, #f2fffd);
  /*Webkit*/
  background: -o-linear-gradient(top, #d8f9f9, #f2fffd);
  /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d8f9f9, endColorstr=#f2fffd);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d8f9f9, endColorstr=#f2fffd)";
  /*IE8+*/
}
@media screen and (max-width: 480px) {
  .bg .content .register-container,
  .result-container {
    margin: 40px auto 50px;
    padding: 40px 5% 50px;
    width: 88%;
  }
  .bg .content .register-container form,
  .result-container form {
    width: 100%;
  }
  .bg .content .register-container form .username,
  .result-container form .username,
  .bg .content .register-container form .password,
  .result-container form .password,
  .bg .content .register-container form .email,
  .result-container form .email {
    width: 100%;
  }
  .bg .content .register-container form input,
  .result-container form input {
    padding: 10px 5%;
    width: 90%;
  }
  .bg .content .register-container form input[type=button],
  .result-container form input[type=button] {
    padding: 10px 5%;
    width: 100%;
  }
  .bg .content .center-container {
    margin: 40px auto 50px;
    padding: 40px 5% 50px;
    width: 88%;
  }
  .bg .content .center-container input {
    padding: 10px 5%;
    width: 90%;
  }
  .bg .content .center-container input[type=button] {
    padding: 10px 5%;
    width: 100%;
  }
  .bg .content .result-container {
    margin: 40px auto 50px;
    padding: 40px 5% 50px;
    width: 88%;
  }
  .bg .content .result-container input {
    padding: 10px 5%;
    width: 90%;
  }
  .bg .content .result-container input[type=button] {
    padding: 10px 5%;
    width: 100%;
  }
  .bg .content .result-container .title,
  .bg .content .result-container .body {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
  }
}
.bg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('../../img/login/bg.png');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.content {
  min-height: 530px;
}
.content .register-container,
.content .result-container,
.content .center-container {
  border: 1px solid #c8f6f6;
  border-radius: 2px;
  margin: 40px auto 50px;
  padding: 40px 50px 50px;
  background: transparent url('../../img/global/write-transparent-bg.png') top left repeat;
  width: 378px;
  /* for the future */
}
.content .register-container.hide,
.content .result-container.hide,
.content .center-container.hide {
  display: none;
}
.content .register-container .title,
.content .result-container .title,
.content .center-container .title,
.content .register-container .foot,
.content .result-container .foot,
.content .center-container .foot {
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #212121;
}
.content .register-container .title .left,
.content .result-container .title .left,
.content .center-container .title .left {
  display: inline-block;
  float: left;
}
.content .register-container .title .right,
.content .result-container .title .right,
.content .center-container .title .right {
  display: inline-block;
  float: right;
}
.content .register-container .title .right a,
.content .result-container .title .right a,
.content .center-container .title .right a {
  color: #45d7d7;
}
.content .register-container .title .right a:hover,
.content .result-container .title .right a:hover,
.content .center-container .title .right a:hover {
  color: #2fc6c6;
}
.content .register-container input,
.content .result-container input,
.content .center-container input {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #c8f6f6;
  border-radius: 6px;
  outline: none;
  width: 358px;
  height: 25px;
  font-size: 14px;
  color: #45d7d7;
}
.content .register-container input:focus,
.content .result-container input:focus,
.content .center-container input:focus {
  background: #fff;
  border-color: #45d7d7;
  color: #45d7d7;
}
.content .register-container input[type=button],
.content .result-container input[type=button],
.content .center-container input[type=button] {
  margin-top: 20px;
  width: 378px;
  height: 45px;
  border: none;
  background: #45d7d7;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.content .register-container .email.error,
.content .result-container .email.error,
.content .center-container .email.error,
.content .register-container .password.error,
.content .result-container .password.error,
.content .center-container .password.error,
.content .register-container .password-twice.error,
.content .result-container .password-twice.error,
.content .center-container .password-twice.error {
  /* for the future */
}
.content .register-container .email.error input,
.content .result-container .email.error input,
.content .center-container .email.error input,
.content .register-container .password.error input,
.content .result-container .password.error input,
.content .center-container .password.error input,
.content .register-container .password-twice.error input,
.content .result-container .password-twice.error input,
.content .center-container .password-twice.error input {
  border-color: #f0584a;
}
.content .register-container .email.error .tip,
.content .result-container .email.error .tip,
.content .center-container .email.error .tip,
.content .register-container .password.error .tip,
.content .result-container .password.error .tip,
.content .center-container .password.error .tip,
.content .register-container .password-twice.error .tip,
.content .result-container .password-twice.error .tip,
.content .center-container .password-twice.error .tip {
  visibility: visible;
}
.content .register-container .email.error ::-webkit-input-placeholder,
.content .result-container .email.error ::-webkit-input-placeholder,
.content .center-container .email.error ::-webkit-input-placeholder,
.content .register-container .password.error ::-webkit-input-placeholder,
.content .result-container .password.error ::-webkit-input-placeholder,
.content .center-container .password.error ::-webkit-input-placeholder,
.content .register-container .password-twice.error ::-webkit-input-placeholder,
.content .result-container .password-twice.error ::-webkit-input-placeholder,
.content .center-container .password-twice.error ::-webkit-input-placeholder {
  color: #f0584a;
  text-overflow: ellipsis;
}
.content .register-container .email.error :-moz-placeholder,
.content .result-container .email.error :-moz-placeholder,
.content .center-container .email.error :-moz-placeholder,
.content .register-container .password.error :-moz-placeholder,
.content .result-container .password.error :-moz-placeholder,
.content .center-container .password.error :-moz-placeholder,
.content .register-container .password-twice.error :-moz-placeholder,
.content .result-container .password-twice.error :-moz-placeholder,
.content .center-container .password-twice.error :-moz-placeholder {
  color: #f0584a !important;
  text-overflow: ellipsis;
}
.content .register-container .email.error ::-moz-placeholder,
.content .result-container .email.error ::-moz-placeholder,
.content .center-container .email.error ::-moz-placeholder,
.content .register-container .password.error ::-moz-placeholder,
.content .result-container .password.error ::-moz-placeholder,
.content .center-container .password.error ::-moz-placeholder,
.content .register-container .password-twice.error ::-moz-placeholder,
.content .result-container .password-twice.error ::-moz-placeholder,
.content .center-container .password-twice.error ::-moz-placeholder {
  color: #f0584a !important;
  text-overflow: ellipsis;
}
.content .register-container .email.error :-ms-input-placeholder,
.content .result-container .email.error :-ms-input-placeholder,
.content .center-container .email.error :-ms-input-placeholder,
.content .register-container .password.error :-ms-input-placeholder,
.content .result-container .password.error :-ms-input-placeholder,
.content .center-container .password.error :-ms-input-placeholder,
.content .register-container .password-twice.error :-ms-input-placeholder,
.content .result-container .password-twice.error :-ms-input-placeholder,
.content .center-container .password-twice.error :-ms-input-placeholder {
  color: #f0584a !important;
  text-overflow: ellipsis;
}
.content .register-container .email,
.content .result-container .email,
.content .center-container .email {
  height: 75px;
  margin-top: 30px;
}
.content .register-container .password,
.content .result-container .password,
.content .center-container .password,
.content .register-container .password-twice,
.content .result-container .password-twice,
.content .center-container .password-twice {
  height: 75px;
}
.content .register-container .read-me,
.content .result-container .read-me,
.content .center-container .read-me {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.content .register-container .read-me.error label,
.content .result-container .read-me.error label,
.content .center-container .read-me.error label {
  color: #f0584a;
}
.content .register-container .read-me > *,
.content .result-container .read-me > *,
.content .center-container .read-me > * {
  display: inline-block;
  float: left;
  font-size: 14px;
}
.content .register-container .read-me .icon,
.content .result-container .read-me .icon,
.content .center-container .read-me .icon {
  cursor: pointer;
  margin: 0;
  width: 18px;
  height: 18px;
  background: url('../../img/global/unselected.png') center center no-repeat;
  background-size: contain;
}
.content .register-container .read-me .icon.selected,
.content .result-container .read-me .icon.selected,
.content .center-container .read-me .icon.selected {
  background: url('../../img/global/selected.png') center center no-repeat;
  background-size: contain;
}
.content .register-container .read-me label,
.content .result-container .read-me label,
.content .center-container .read-me label {
  margin-left: 10px;
}
.content .register-container ::-webkit-input-placeholder,
.content .result-container ::-webkit-input-placeholder,
.content .center-container ::-webkit-input-placeholder {
  color: #58d8d9;
  text-overflow: ellipsis;
}
.content .register-container :-moz-placeholder,
.content .result-container :-moz-placeholder,
.content .center-container :-moz-placeholder {
  color: #58d8d9 !important;
  text-overflow: ellipsis;
}
.content .register-container ::-moz-placeholder,
.content .result-container ::-moz-placeholder,
.content .center-container ::-moz-placeholder {
  color: #58d8d9 !important;
  text-overflow: ellipsis;
}
.content .register-container :-ms-input-placeholder,
.content .result-container :-ms-input-placeholder,
.content .center-container :-ms-input-placeholder {
  color: #58d8d9 !important;
  text-overflow: ellipsis;
}
.content .register-container .tip,
.content .result-container .tip,
.content .center-container .tip {
  visibility: hidden;
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  text-align: right;
  color: red;
  font-size: 12px;
}
.content .result-container p {
  color: #45d7d7;
  font-size: 14px;
}
.content .result-container input {
  text-align: center;
}
.content .result-container input[type=button] {
  font-size: 16px;
}
.content .result-container input[type=button].hide {
  display: none;
}
.content .result-container input[type=button].disabled {
  background: #9beaea;
  cursor: default;
}
